[submodule "academic"]
	path = academic
	url = https://github.com/krisaziabor/academic.git
[submodule "design"]
	path = design
	url = https://github.com/krisaziabor/design.git
[submodule "literary"]
	path = literary
	url = https://github.com/krisaziabor/literary.git
